/* font-family: 'Roboto', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body,
button,
input {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

body {
  background-color: #010608;
  background-image: url("./src/assets/mountains-universe-1.png");
  background-repeat: no-repeat;
  background-size: contain;

  color: #fff;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 4rem 7.2rem;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 54px;

  margin-left: 43px;

  list-style: none;

  color: #fff;
  font-family: "Roboto";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem; /* 90.278% */
}

a {
  text-decoration: none;
  color: #fff;
}

main {
  display: grid;
  place-content: center;
  height: 100vh;

  gap: 2.4rem;
}

main h1 {
  color: var(--platform-aliases-ttulos, #e1e1e6);
  font-family: "Roboto";
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 60px */
}

main button {
  display: inline-flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  background: transparent;
  border-radius: 5px;
  border: 2px solid #fff;

  color: var(--neutral-colors-white, #fff);
  text-align: center;
  font-family: "Roboto";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem; /* 171.429% */
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
}

main button:hover {
  background: #fff;
  color: #02799d;
}
