/* font-family: 'Roboto', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body,
button,
input {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

body {
  color: #fff;
}

/* PARTE DE NAVEGAÇÃO */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 4rem 7.2rem;

  margin-bottom: -12.2rem;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 5.4rem;

  margin-left: 4.3rem;

  list-style: none;

  color: #c4c4cc;
  font-family: "Roboto";
  font-size: 21.667px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.667px; /* 100% */
  /* 90.278% */
}

a {
  text-decoration: none;
  color: #c4c4cc;
}

.active {
  color: #fff;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.667px; /* 90.278% */
}

h1 {
  color: #e1e1e6;
  font-family: "Roboto";
  font-size: 6.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  /* 60px */
}

p {
  color: #e1e1e6;
  font-family: "Roboto";
  font-size: clamp(1.6rem, 1.6rem + 0.5vw, 2.4rem);
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

#home {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 2.4rem;

  background-color: #010608;
  background-image: url("./src/assets/mountains-universe-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  display: inline-flex;
  padding: 1.2rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  background: transparent;
  border-radius: 0.5rem;
  border: 2px solid #fff;

  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem; /* 171.429% */
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
}

button:hover {
  background: #fff;
  color: #02799d;
}

#universo,
#exploracao {
  height: 100vh;

  padding-top: 18.5rem;
  padding-left: 10.2rem;
}

#universo section,
#exploracao section {
  display: flex;
  flex-direction: column;

  min-width: 64.8rem;
  max-width: 104.8rem;
  gap: 1.6rem;
}

#universo {
  background-color: #010608;
  background-image: url("./src/assets/mountains-universe-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#exploracao {
  background-color: #010608;
  background-image: url("./src/assets/mountains-universe-3.png");
  background-repeat: no-repeat;
  background-size: cover;
}
